
<html>
<body style="background-color:#FFFFFF">
<center>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>
              <%= link_to image_tag("parkr.png", :width => "20%", :height => "20%"), parking_meters_path, {class: "logo"} %>
            </h1>
            <h3>
              <%=link_to "Home", parking_meters_path%>
              <%=link_to "About Us", "/about"%>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</center>

</body>
</html>