<p id="notice"><%= notice %></p>

<center>
  <h1>Parkr</h1>
  <div>
    <button onclick="toggleHeatmap()">Toggle Crimemap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
  </div>
  <br>
  <%= link_to 'Parking Meters', parking_meters_path, data: { no_turbolink: true } %>
</center>
<br>
<body>
  <meta charset="utf-8">
  <title>Heatmaps</title>
  <style>
      html, body, #map-canvas {
          height: 90%;
          margin: 0px;
          padding: 0px
      }
      #panel {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -180px;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
      }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
  <script>
      // Adding 500 Data Points
      var map, pointarray, heatmap;

    var crimes = [];
      <% for crime in CrimeDatum.find_each %>
      {
          crimes.push({location: new google.maps.LatLng(<%=crime.lat%>, <%=crime.lon%>), weight: 5});
      }
      <% end %>

      var mockCrimeData = crimes

      function initialize() {
          var mapOptions = {
              zoom: 14,
              center: new google.maps.LatLng(49.28101, -123.118),
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);

          var pointArray = new google.maps.MVCArray(mockCrimeData);

          heatmap = new google.maps.visualization.HeatmapLayer({
              data: pointArray
          });

          heatmap.setMap(map);
      }

      function toggleHeatmap() {
          heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
          var gradient = [
              'rgba(0, 255, 255, 0)',
              'rgba(0, 255, 255, 1)',
              'rgba(0, 191, 255, 1)',
              'rgba(0, 127, 255, 1)',
              'rgba(0, 63, 255, 1)',
              'rgba(0, 0, 255, 1)',
              'rgba(0, 0, 223, 1)',
              'rgba(0, 0, 191, 1)',
              'rgba(0, 0, 159, 1)',
              'rgba(0, 0, 127, 1)',
              'rgba(63, 0, 91, 1)',
              'rgba(127, 0, 63, 1)',
              'rgba(191, 0, 31, 1)',
              'rgba(255, 0, 0, 1)'
          ]
          heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
          heatmap.set('radius', heatmap.get('radius') ? null : 70);
      }

      function changeOpacity() {
          heatmap.set('opacity', heatmap.get('opacity') ? null : 0.5);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</body>
<div id="map-canvas"></div>


